.url-form {
    font-family: 'Open Sans', sans;
    width: 500px;
    padding: 20px;
    background: #FFFFFF;
    margin: 10px auto;
    border: 1px solid black;

}
.url-form h1 {
    background: #4D4D4D;
    font-family: 'Comfortaa', cursive;
    color: #d3d3d3;
    font-size: 96px;
    font-weight: 100;
    padding: 20px;
    margin: -20px -20px -45px -20px;
}

.url-form h2 {
    background: #4D4D4D;
    font-family: 'Comfortaa', cursive;
    color: #d3d3d3;
    font-size: 17px;
    font-weight: 100;
    padding: 20px;
    margin: -20px -20px 20px -20px;
}

.url-form input {
    outline: none;
    width: 95%;
    padding: 5px 10px;
    border: 1px solid #ddd;
    margin: 5px auto;
    font: 16px Arial, Helvetica, sans;
    height: 35px;
}

.url-form button {
    outline: none;
    background-color: #2CBBBB;
    border: 1px solid #27A0A0;
    border-radius: 10px;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Open Sans', sans;
    font-size: 16px;
    padding: 12px 18px;
    margin-top: 10px;
}
.url-form button:hover {
    background-color: #34CACA;
}

.url-return {
    font-family: 'Open Sans', sans;
    color: #2CBBBB;
    width: 500px;
    padding: 20px;
    background: #FFFFFF;
    margin: 5px auto;
    border: 1px solid black;
}

.copy-buttons {
  padding-top: 10px;
  margin: 0 auto;
  display: flex;
  flex: 1;
}

.copy-buttons button {
    outline: none;
    border: 1px solid #2CBBBB;
    border-radius: 10px;
    display: inline-block;
    cursor: pointer;
    color: #2CBBBB;
    font-family: 'Open Sans', sans;
    font-size: 14px;
    padding: 10px 12px;
    margin: 5px;
    flex-grow: 1;
}
.url-return button:hover {
    background-color: #2CBBBB;
    color: #FFFFFF;
}

.info-tag {
    font-family: 'Open Sans', sans;
    font-size: 10px;
    color: #d3d3d3;
    width: 500px;
    margin: 0 auto;
}

.url-return label {
  display: block;
}

.link-result {
  font-size: 12px;
}

.warning {
  color: salmon;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #d3d3d3;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #d3d3d3;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #d3d3d3;
}

.info-tag a {
    color: #FFFFFF;
    text-decoration: none;
}
